
<div class="banner" style="background-color: #1D1814;">
  <div class="container">
    <h1>For all your cocktail inspiration</h1>
    <%= link_to "Get started", cocktails_path, :class => "btn btn-primary" %>
  </div>
</div>