<div class = navbar-lewagon>
<h2 class = "m-0">cocktailapp</h2>
</div>

<div class="banner" style="background-image: url('/assets/crater.jpg');">
  <div class="container">
    <h1>Get inspired with new cocktail recipes</h1>
    <p>Save and share your concoctions</p>
    <%= link_to "Create new cocktail", new_cocktail_path, :class => "btn btn-primary" %>
  </div>
</div>

<div class = "container">
<div class = "card-products">
  <% @cocktails.each do |cocktail| %>
      <div class="card-product">
        <%= cl_image_tag cocktail.photo.key, :class => "card-product-img" %>
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          <p>rating</p>
        </div>
      </div>
  <% end %>
</div>
</div>
