<div class = navbar-lewagon>
<h1>My cocktails</h1>
</div>

<div class="banner" style="background-image: url('/assets/crater.jpg');">
  <div class="container">
    <h1>Get inspired with new cocktail recipes</h1>
    <p>Save and share your concoctions</p>
    <a class="btn btn-flat" href="#"><%= link_to "Create new cocktail", new_cocktail_path %></a>
  </div>
</div>

<div class = "container">
<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <div class="card-product">
        <img src="/assets/mojito.jpg" />
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          <p>ingredients</p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
