<div class="container d-flex justify-content-start">
  <div class="w-50">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit class:"button-greyborder" %>
    <% end %>
  </div>
</div>