// .card-products {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 26px;
//   padding: 26px;
// }

// @media (max-width: 992px) {
//   .card-products{
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media (max-width: 768px) {
//   .card-products{
//     grid-template-columns: 1fr;
//   }
// }
// .card-product {
//   overflow: hidden;
//   height: 300px;
//   background: white;
//   // box-shadow: 0 0 10px rgba(0,0,0,0.15);
//   // display: flex;
//   align-items: center;
//   // border-radius: 2px;
// }

// .card-product-img {
//   height: 270px;
//   width: 100%;
//   object-fit: cover;
// }

.card-products {
  line-height: 0;
  
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;

  grid-gap: 26px;
}

@media (max-width: 992px) {
  .card-products{
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}

@media (max-width: 768px) {
  .card-products{
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}

@media (max-width: 400px) {
  .card-products{
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}


.card-product {
  // overflow: hidden;
  height: auto !important;
  // background: white;
  // box-shadow: 0 0 10px rgba(0,0,0,0.15);
  // align-items: center;
  // border-radius: 2px;
  // margin-bottom: 35px;
  // outline: 2px dashed blue;
  position: relative;
  
}

.card-product-img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 40px;
}

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   text-decoration: none;
//   &:hover {
//     text-decoration: none;
//   }
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

.card-product-infos {
  // background-color: $raisin-black;
  position: absolute;
  bottom: 0px;
  color: $raisin-black;
  padding: 8px 0px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: unset;
  width: 100%;
}


// .card-product .card-product-infos .h2 {
//   line-height: 0;
// }

.cocktail-card-link {
  text-decoration: none;
  color: $raisin-black;
  &:hover {
    text-decoration: none;
    color: $raisin-black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}



