.img-show-page {
  width: 400px;
}

.icon-style {
  color: $raisin-black;
  margin-left: 6px;
  // vertical-align: text-bottom;
  // margin-bottom: 8px;
  // font-size: 20px;
}

.icon-style-small {
  color: $raisin-black;
  margin-left: 6px;
  font-size: 12px;
}
